.sidebar-button-sec{
    display: flex;
    align-items: center;
    justify-content: right;
    justify-items: right;
    padding: 0 30px;
    transition: .3s ease-in;
    box-shadow: 0 5px 15px #00000040;
    background-color: rgba(0, 0, 0, 0.548);/*For changing the colour of the Navbar*/
    width: 7.5%;
    height: 70px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translate(-670%);
}

.sidebar-button{
    background-color: rgba(10, 10, 10, 0.911) !important;
}

.sidebar-button:hover{
    background-color: rgb(43, 42, 42) !important;
}

.sidebar-convas{
    background-color: rgba(0, 0, 0, 0.548) !important;/*For changing the colour of the Navbar*/
    color: white;
    backdrop-filter: blur(8px);
    box-shadow: 0 5px 15px #00000040 !important;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 20% !important;
    transition: .3s ease-in;
}

.sidebar-convas:hover{
    background-color: rgba(0, 0, 0, 0.9) !important;
}

.closing-icon-sec{
    cursor: pointer;
    padding-left: 13rem;
}

.logo-sec{
    padding-left: 2.3rem;
}

.sidebar-Logo{
    cursor: pointer;
    width:150px;
}

.canvas-list{
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    font-size: 18px;
}

.item-itself{
    display: flex;
    flex-direction: row;
    padding-bottom: 23px;
    cursor: pointer;
}

.item-icon{
    padding-right: 9px;
}

.item-itself:hover{
    color: rgba(145, 136, 136, 0.616) !important; ;
}

.sidebar-dropdown{
    background-color: rgba(0, 0, 0, 0.664) !important; 
}

.sidebar-dropdown:hover{
    background-color: rgba(0, 0, 0, 0.9) !important;
}

.dropdown-icon{
    padding-left: 7rem;
    padding-top: 0.3rem;
}


@media only screen and (max-width: 768px){
    .sidebar-button-sec{
        display: flex;
        align-items: center;
        justify-content: right;
        justify-items: right;
        padding: 0 30px;
        transition: .3s ease-in;
        box-shadow: 0 5px 15px #00000040;
        background-color: rgba(0, 0, 0, 0.548);/*For changing the colour of the Navbar*/
        width: 23%;
        height: 70px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translate(-220%);
    }

    .sidebar-button{
        background-color: rgba(10, 10, 10, 0.911) !important;
        height: fit-content;
        width: fit-content;
    }

    .sidebar-convas{
        background-color: rgba(0, 0, 0, 0.548) !important;/*For changing the colour of the Navbar*/
        color: white;
        box-shadow: 0 5px 15px #00000040 !important;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 60% !important;
    }

    .closing-icon-sec{
        padding-left: 11rem;
    }

    .logo-sec{
        padding-left: 1.5rem;
    }
    
    .sidebar-Logo{
        cursor: pointer;
        width:130px;
    }

    .canvas-list{
        display: flex;
        flex-direction: column;
        font-family: Verdana, Geneva, Tahoma, sans-serif !important;
        font-size: 16px;
    }
    
    .item-itself{
        padding-bottom: 15px;
        cursor: pointer;
    }

    .item-self-mobile-view{
        display: flex !important;
        flex-direction: row !important;
        padding-bottom: 15px;
        cursor: pointer;

    }

    .sidebar-dropdown{
        background-color: rgba(0, 0, 0) !important; 
    }


    .dropdown-icon-mobile-view{
        padding-left: 4.7rem !important;
        padding-top: 0.3rem !important;
    }

    .item-self-mobile-view-name{
        padding-left: 0.5rem !important;
    }
    
}