.del-subject-main-sec{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   display: flex;
   height: auto;
}

.del-subject-main-heading{
    font-size: 20px;
    font-weight: 550;
    padding-left: 23rem;
    padding-top: 2%;
    padding-bottom: 5%;
}