.trail-comp-main-sec{
    height: 110vh;
}

.prof-number-sec{
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    display: flex;
    flex-direction: row;
    overflow:visible;
}

.prof-number-self{
    font-size: 120px;
    font-weight: 600;
    padding-left: 5rem;
    transform: translateY(-26%);
    color: rgba(54, 54, 54, 0.658);
   overflow: visible !important;
   font-style: italic;
}

.subjectintro-sec{
    transform: translateY(-15%);
}

@media only screen and (max-width: 768px){
    .trail-comp-main-sec{
        height: 142vh !important;
    }
    .prof-number-self{
        font-size: 60px;
        font-weight: 600;
        padding-right: 1rem !important;
        padding-left: 0rem !important;
        transform: translateY(-26%);
        color: rgba(54, 54, 54, 0.658);
       overflow: visible !important;
       font-style: italic;
       
    }

    .subjectintro-sec{
        transform: translateY(-5%);
    }
}